.categories-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (max-width :800px) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

