.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;

    .title {
      font-weight: bold;
      font-size: 30px;

      @media(max-width : 800px){
        font-size: 15px;
      }
      span {
        font-style: italic;
      }
    }

    @media (max-width: 800px) {
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:30px ;

    @media (max-width: 800px) {
      width: 80%;
      padding-right: 0;
    }

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;

      @media(max-width : 800px){
        font-size: 12px;
      }
    }
  }
}
